In [13]:
import pandas as pd
# df_products = pd.read_csv("./model/prducts.csv", lineterminator=';', delimiter=',', encoding='utf-16')
print('Cargando productos...')
all_products = pd.read_csv('./csv/productDim.csv', lineterminator='\n', delimiter=',', encoding='utf-16')
print("Productos Cargados")
print("Cargando ventas...")
all_sales = pd.read_csv('./csv/weekly_ready.csv')
print("Ventas Cargadas")
df_products = all_products

Cargando productos...
Productos Cargados
Cargando ventas...
Ventas Cargadas

In [14]:
all_products

,id,codigo,name,boxUnitContent,blisterUnitContent,boxBlisterContent,inventoryBox,inventoryBlister,inventoryUnit,TotalValueUnits\r
0,1,0000000000,TIJERA GRANDE C2009,1,1,0,0,0,0,0
1,2,000000305,SM CORRECTOR 3B #2 4.5G,1,0,0,2,0,0,2
2,3,000000306,SM CORRECTOR 3B #3 4.5G,1,0,0,2,0,0,2
3,4,000002110,NAI RUB INDIV PLATA # 08 -10 3G,1,0,0,2,0,0,2
4,5,000002111,NAI RUB INDIV PLATA #19 3G,1,0,0,1,0,0,1
...,...,...,...,...,...,...,...,...,...,...
12477,12478,PROM3,PROM3,1,0,0,0,0,0,0
12478,12479,PROM4,PROM4,1,1,0,0,0,0,0
12479,12480,PROM8,PROM8,1,1,0,0,0,0,0
12480,12481,SPEEDBOTELLA,SPEED MAX 250 ML UNIDAD,1,0,0,19,0,0,19
12481,12482,T1500,TAPABOCAS LAVABLES,1,0,0,103,0,0,103

In [15]:
df_predictions = pd.read_json('./model/jc_model_results_future.json', lines=False)
df_predictions = df_predictions.transpose()

In [18]:
result = pd.merge(df_predictions, df_products, left_on='codigo', right_on="codigo", how='inner')

In [19]:
result

,mse,n_neighbors,time_series_dates,time_series_values,prediction_dates,prediction_values,confianza5,confianza95,codigo,nombre,id,name,boxUnitContent,blisterUnitContent,boxBlisterContent,inventoryBox,inventoryBlister,inventoryUnit,TotalValueUnits\r
0,0.83203125,8,"[2022-03-19 00:00:00, 2022-03-26 00:00:00, 202...","[1, 0, 1, 0, 0, 2, 1, 1, 1, 1, 2, 2, 2, 1, 0, ...","[2023-01-07, 2023-01-14, 2023-01-21, 2023-01-2...","[1.25, 1.25, 1.125, 0.625, 0.375, 0.375, 0.625...","[0.375, 0.375, 0.25, -0.5, -0.875, -0.625, -0....","[2.5, 2.375, 2.25, 2.0, 1.5, 1.375, 2.0, 1.375...",200006975,SUPER BONDER 3 GR,5966,SUPER BONDER 3 GR,1,0,0,5,0,0,5
1,0.010416666666666666,8,"[2022-03-19 00:00:00, 2022-03-26 00:00:00, 202...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[2023-01-07, 2023-01-14, 2023-01-21, 2023-01-2...","[0.0, 0.0, 0.0, 0.0, 0.125, 0.125, 0.125, 0.12...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","[0.0, 0.0, 0.0, 0.0, 0.125, 0.0, 0.0, 0.0, 0.0...",8413,OFERTA CE. GUM INTER PROXA 6 UDS,12402,OFERTA CE. GUM INTER PROXA 6 UDS,6,0,1,0,0,0,0
2,0.0,2,"[2022-03-19 00:00:00, 2022-03-26 00:00:00, 202...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, ...","[2023-01-07, 2023-01-14, 2023-01-21, 2023-01-2...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",200033629,TALCO SECCO 90 GR IVA,9297,TALCO SECCO 90 GR IVA,1,1,0,0,0,0,0
3,58.203125,8,"[2022-03-19 00:00:00, 2022-03-26 00:00:00, 202...","[20, 10, 28, 12, 6, 35, 11, 11, 32, 15, 11, 16...","[2023-01-07, 2023-01-14, 2023-01-21, 2023-01-2...","[13.5, 11.125, 12.125, 10.625, 10.0, 11.75, 13...","[8.0, 3.25, 4.375, 4.0, 3.25, 3.625, 3.75, 7.2...","[20.0, 29.875, 24.0, 23.0, 20.125, 27.5, 23.5,...",0992,PALETA POLET SURTIDA UNIDAD,129,PALETA POLET SURTIDA UNIDAD,1,0,0,24,0,0,24
4,0.3385416666666667,4,"[2022-03-19 00:00:00, 2022-03-26 00:00:00, 202...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 3, 0, ...","[2023-01-07, 2023-01-14, 2023-01-21, 2023-01-2...","[1.0, 1.0, 1.0, 0.5, 0.5, 0.25, 0.0, 0.0, 0.0,...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","[3.0, 3.0, 3.0, 2.0, 3.0, 3.0, 2.0, 3.0, 3.0, ...",200036661,PAN.TENA PANTS CLASICO LARGE 1 UNIDAD,9631,PAN.TENA PANTS CLASICO LARGE 1 UNIDAD,1,0,0,3,0,0,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4408,0.0,2,"[2022-03-19 00:00:00, 2022-03-26 00:00:00, 202...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[2023-01-07, 2023-01-14, 2023-01-21, 2023-01-2...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",100023360,DIENILLE 2 MG 21 COMPRIMIDOS(M)12698,4458,DIENILLE 2 MG 21 COMPRIMIDOS(M)12698,1,0,0,3,0,0,3
4409,0.9205729166666666,8,"[2022-03-19 00:00:00, 2022-03-26 00:00:00, 202...","[1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 2, 0, 1, ...","[2023-01-07, 2023-01-14, 2023-01-21, 2023-01-2...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","[0.0, -0.875, -0.25, -0.875, -0.125, -0.5, -0....","[2.0, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0, ...",100020802,HIDRAPLUS 75 ZINC UVA 400 ML SUERO O,4200,HIDRAPLUS 75 ZINC UVA 400 ML SUERO O,1,0,0,2,0,0,2
4410,0.0859375,8,"[2022-03-19 00:00:00, 2022-03-26 00:00:00, 202...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[2023-01-07, 2023-01-14, 2023-01-21, 2023-01-2...","[0.25, 0.25, 0.25, 0.25, 0.25, 0.25, 0.0, 0.0,...","[-0.125, 0.0, 0.0, 0.0, 0.0, 0.0, -0.125, -0.1...","[2.0, 2.0, 2.0, 2.0, 1.0, 2.0, 0.875, 1.0, 1.0...",100013863,FLUCONAZOL 150 MG 1 CAPSULA IC,3137,FLUCONAZOL 150 MG 1 CAPSULA IC,1,1,0,0,0,0,0
4411,0.08333333333333333,2,"[2022-03-19 00:00:00, 2022-03-26 00:00:00, 202...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[2023-01-07, 2023-01-14, 2023-01-21, 2023-01-2...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","[1.0, 1.0, 0.0, 1.0, 1.0, 1.0, 1.0, 0.5, 1.0, ...",7707200902853,JABON ANTISEF HERBAL,12139,JABON ANTISEF HERBAL,1,1,0,0,0,0,0
4412,2.1842447916666665,8,"[2022-03-19 00:00:00, 2022-03-26 00:00:00, 202...","[0, 1, 4, 1, 1, 1, 1, 0, 6, 2, 0, 0, 0, 0, 1, ...","[2023-01-07, 2023-01-14, 2023-01-21, 2023-01-2...","[0.25, 0.375, 0.25, 0.625, 0.75, 0.5, 1.0, 0.8...","[-1.0, -0.5, -1.25, -0.625, -0.506249999999999...","[3.0, 4.0, 2.0, 3.5, 3.049999999999954, 3.5, 4...",100001446,VITAMINA B12 1 ML 25 AMPOLLAS EC,573,VITAMINA B12 1 ML 25 AMPOLLAS EC,25,1,0,3,0,3,78